version: '3.8'
services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
