# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#
# PyInstaller
#
# *.manifest
# *.spec

#
# Installer logs
#
pip-log.txt
pip-delete-this-directory.txt

#
# Unit test / coverage reports
#
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

#
# Translations
#
*.mo
*.pot

#
# Django stuff:
#
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

#
# Flask stuff:
#
instance/
.webassets-cache

#
# Scrapy stuff:
#
.scrapy

#
# Sphinx documentation
#
docs/_build/

#
# Jupyter Notebook
#
.ipynb_checkpoints

#
# Environments
#
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#
# mypy
#
.mypy_cache/
.dmypy.json
dmypy.json

#
# Sublime Text
#
*.sublime-project
*.sublime-workspace

#
# VSCode
#
.vscode/

#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
-*-
-*-
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
#
-*-
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
-*-
-*-
-*-
-a*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
...
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
--/
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
--*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
_
-A*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-*-
-Read-me-_2.md
-Read-me.md
-index.html
-package-lock.json
-package.json
-postcss.config.js
-tailwind.config.js
-tsconfig.app.json
-tsconfig.json
-tsconfig.node.json
-vite.config.ts
-yarn.lock
